
   <header class="header">
   <div class="container">
   	    <ul class="toolbar-left">

   	    </ul>
    
   	    <ul class="toolbar-right">
   	      <div class="toolbar-right-items">
   	    	<li>Help</li>
   	    	<li>Vend U</li>
   	    	<li>Blog</li>
   	      </div>
   	      <div class="toolbar-right-icons">
   	    	<li><div class="talk"></div></li>
   	    	<li><div class="phone"></div></li>
   	    	<li><div class="language"></div></li>
   	      </div>
   	    </ul>
   	</div>
   </header>
   
   <div class="bk-home">
   
     <section id="signin">

     	 	   <div class="product-feature-box">
                
                    <div class="product-feature-content">
    
     	 	   	     <h4 class="product-feature-title">New in Vend</h4>
     	 	   	     <img class="product-feature-img" src="">
     	 	   	     <p class="product-feature-desc">Sync your warehouse and store with vend and unleashed</p>
     	 	   	    
     	 	   	    </div>

     	 	   </div>
     
   
     	 	   <div class="signin-box">
     	 	       	<form class="signin-header">
     	 	       		<div class="signin-title"><h1>Sign in</h1></div>
                        <div class="signin-locator"> 
     	 	       		    <h4>Indie home collective</h4>
     	 	       		    <span>Not your store?</span>
     	 	       		</div>
     	 	       		
     	 	       		<fieldset>

     	 	       		    <div class="form-group">
     	 	       			    <input class="form-control" type="text" value"username" placeholder="Email or Username"/>
     	 	       		    </div>
     	 	       		   
     	 	       		    <div class="form-group">
     	 	       			   <input class="form-control" type="password" value"password" placeholder="Password" />
     	 	       		    </div>
     	 	       		   
     	 	       		    <div class="singin-action">
     	 	       		        <a class="password-forgot" href="#">Forgot your Sign in?</a>
     	 	       			    <input class="form-control primary-btns" type="submit" value="Sign in" />
     	 	       			</div>

     	 	       		</fieldset>
     	 	       		</form>
     	 	   </div>

     </section>

   </div>
   

