<div class="bk-home">
   
     <section id="signin" controller="AuthenticationController">

     	
   
<div class="signin-box">
<form method="post" class="signin-header" name="loginForm" ng-submit="signin()" novalidate>
    <div class="signin-title"><h1>Sign in</h1></div>
        <div class="signin-locator"> 
     	 	    <h4>Indie home collective</h4>
     	 	    <span class="visible-sm-block visible-md-block visible-lg-block"><a href="#">Not your store?</a></span>
     	  </div>
     	 	       		
  <fieldset>
<!--    ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }" -->
     <div class="form-group">
<input type="text" id="email" name="email" class="form-control" ng-model="credentials.email" ng-click="click()" placeholder="Email" required>
<div ng-messages="loginForm.email.$error">
  <div class="feedback-error" ng-message="required">{{usernameMsg}}</div>
</div>
      
     </div>
     	 	       		   
     <div class="form-group">
     <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" ng-click="click()" required>
     <div ng-messages="loginForm.password.$error">
  <div class="feedback-error" ng-message="required">{{passwordMsg}}</div>
</div>
    
   </div>

   <div class="feedback-error" ng-show="guestMsg">{{guestMsg}}</div>
     	 	       		   
    <div class="singin-action">
         <div class="box">
          <button type="submit" class="primary-btn" ng-disabled="loginForm.$invalid">Sign in</button>
        </div>
        <div class="box">
     	     <a class="password-forgot" href="#">Forgot your Sign in?</a>
        </div>
    </div>

 </fieldset>
</form>
</div>

     <div class="product-feature-box" ng-controller="CarouselController">
                
        <div class="product-feature-content">
    
                 <h4 class="product-feature-title">New in Vend</h4>

              <ul rn-carousel rn-carousel-auto-slide rn-carousel-index class="image">
                 
                 <li ng-repeat="image in Images">


                   <div ng-click="goToSlide($index)" ng-style="{'background-image': 'url(' + image.image + ')'}" class="bgimage ng-binding">
                            </div>
                   <div class="carousel-caption">
                      <p class="product-feature-desc">{{image.caption}}</p>
                   </div>


                 </li>
              </ul>

               

                
              

                 <div rn-carousel-indicators ng-if="Images.length > 1" slides="Images" rn-carousel-index="carouselIndex" ng-click="goToSlide($index)" class="indicators"></div>
                
          </div>

      </div>

</section>

   </div>


   

