     <section id="signup" controller="AuthenticationController">

      


<div class="signup-box">
<div class="signin-title"><h1>Sign Up</h1></div>
                <form id="registered-user" role="form" ng-submit="signup()">
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="name" id="name" name="name" class="form-control" ng-model="credentials.name" placeholder="Full name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email"  placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password">
                  </div>
                   <div ng-show="error" class="text-center text-danger">
                    <div ng-bind="error" class="feedback-error"></div>
                  </div>

  <div class="signup-action">
         <div class="box">
           <button type="submit" class="primary-btn" ng-disabled="loginForm.$invalid">Sign Up</button>
        </div>
         <div class="box">

          <p>Already have an account?
          <a ui-sref="#">Sign in here</a></p>
         <p> Having issues? <a href="#">Get in touch</a></p>

        </div>
    </div>

                 

                </form>

     
      </div>


</section>
