$vendGreen: #41af4b;
$vendRed: #d9534f;
$vendDarkGray: #626262;
$vendLightGray: #c9c9c9;
$vendText: #404040;
$fontMain: "proxima-nova", sans-serif;

@mixin background($url, $size) {
  background: $vendText url($url) no-repeat 50% 50%;
  background-size: $size;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $fontMain;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h4 {
  text-transform: uppercase;
  margin: 0;
}

h5 {
  color: #f5f4f4;
}

a, a:hover {
  color: #589ee1;
  text-decoration: none;
}

ul {
  list-style: none;
}

.feedback-error {
  padding: 8px;
  border-radius: 2px;
  border: 1px solid red;
  background: #fbeaea;
  border: 1px solid #d92929;
  width: 100%;
  text-align: center;
  color: #d92929;
}

.toolbar-right-icons svg {
  width: 18px;
  height: 18px;
  margin-top: 11px;
}

.button-primary {
  background-color: $vendGreen;
}

.button-primary, .button-danger {
  display: block;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color .2s, background-color .2s, border-color .2s;
  height: 50px;
  border-radius: 3px;
}

.button-danger {
  display: block;
  background-color: $vendRed;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="name"], input[type="email"] {
  color: $vendText;
  border: 2px solid #f5f4f4;
  border-radius: 0;
  height: 40px;
  margin-bottom: 10px;
  box-shadow: none;
}

.header {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: $vendText;
  color: #c9c9c9;
}

.header ul li {
  display: inline-block;
  line-height: 40px;
  padding: 0 20px;
}

.header .toolbar-left {
  float: left;
}

.header .toolbar-right {
  float: right;
}

.toolbar-right-items {
  float: left;
}

.toolbar-right-icons {
  float: right;
}

.toolbar-right-icons.svg {
  margin-top: 12px;
}

.header ul li .talk, .header ul li .phone, .header ul li .language {
  position: relative;
  width: 20px;
  height: 40px;
  background-size: contain;
}

.bk-home {
  position: relative;
  width: 100%;
  height: calc(100vh - 40px);
}

/** entry panel nesting */

.center {
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: block;
  height: auto;
  background-color: transparent;
}

#signup-panel form {
  margin-top: 15px;
}

#signin-panel .actions a {
  line-height: 50px;
}

.entry-panel {
  margin: 0;
  padding: 50px 40px;
  border: none;
  border-radius: none;
  float: right;
  width: 66.6%;
  background-color: #fff;

  fieldset {
    clear: both;
  }

  .form-title {
    width: 100%;
    height: 57px;
    display: inline-block;
    background: #fff url(" /core/client/img/vend-tag-logo.svg") no-repeat 0% 0%;
  }

  .form-title h1 {
    padding-left: 140px;
    line-height: 57px;
    text-transform: capitalize;
    margin: 0;
    font-weight: 200;
  }

  .form-locator h4 {
    padding: 50px 0 25px 0;
    float: left;
    margin: 0;
  }

  .form-locator span {
    float: right;
    font-weight: 100;
    padding: 50px 0 25px 0;
    text-align: right;
    margin: 0;
  }

  .form-locator a span {
    color: $vendLightGray;
  }

  .form-locator span a {
    color: $vendDarkGray;
  }

  .actions {
    width: 100%;
    margin-top: 10px;
    float: left;
  }
}

.carousel-panel {
  width: calc(99.9%/3);
  height: 100%;
  min-height: 422px;
  float: left;
  padding: 50px 40px;
  background-color: $vendText;
  color: #c9c9c9;

  .carousel-title {
    height: 57px;
    margin-top: 0;
  }

  .carousel-inner h4 {
    float: left;
  }

  .carousel-inner span {}

  .carousel-image {
    text-align: right;
    color: white;
    background-size: cover;
    background-position: center center;
  }

  .carousel-caption {
    position: relative;
    padding-bottom: 30px;
    text-align: left;
    margin: 10px 0 0 0;
    padding: 0;
    left: 0;
    text-shadow: none;
    float: left;
  }

  .carousel-description {
    margin-top: 20px;
    font-weight: 600;
  }

  .carousel-indicators {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 55px;
    clear: both;
  }

  .carousel-indicators .active {
    background-color: transparent;
  }

  .arrow-box {
    margin: 0 0 0 5px;

    svg {
      width: 10px;
      height: 10px;
    }

    .arrowbox {
      fill: $vendLightGray;
    }
  }

  .rn-carousel-indicator span {
    font-size: 24px;
    padding: 0 5px;
  }

  .rn-carousel-indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%);
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  ul[rn-carousel] {
    width: 100%;
    margin: 0 auto;
  }
}

#page h1 {
  text-align: center;
}

@import "media";
