<!DOCTYPE html>
<html lang="en">
<head>
<base href="/">
	<title></title>

	<script src="modules/libs/angular/angular.min.js"></script>
	<script src="lib/angular-route/angular-route.min.js"></script>

  <script src="/modules/core/core/client/app/config.js"></script>
  <script src="/modules/core/core/client/app/init.js"></script>
  <script src="/modules/core/core/client/config/routes.js"></script>
  <script src="/modules/core/core/client/controllers/body.controller.js"></script>
  <script src="/modules/core/core/client/core.client.module.js"></script>


</head>
<body ng-app="vendor">



  <p ng-controller="BodyController">
  	{{string}}
  </p>

</body>
</html>

