body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: proxima-nova,sans-serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

h4 {
  text-transform: uppercase; }

h5 {
  color: #f5f4f4; }

a, a:hover {
  color: #589ee1;
  text-decoration: none !important; }

ul {
  list-style: none; }

.btn-logout {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  display: block;
  margin: 20px auto 0 auto;
  width: 200px;
  height: 45px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  display: block;
  box-shadow: none;
  border: none;
  border-radius: 3px; }

.helper {
  color: #989898; }

.primary-btn {
  background-color: #41af4b;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color .2s, background-color .2s, border-color .2s; }

.feedback-error {
  padding: 8px;
  border-radius: 2px;
  border: 1px solid red;
  background: #fbeaea;
  border: 1px solid #d92929;
  width: 100%;
  text-align: center;
  color: #d92929; }

input[type="text"], input[type="password"] {
  color: #404040;
  border: 2px solid #f5f4f4;
  border-radius: 0;
  height: 40px;
  margin-bottom: 10px;
  box-shadow: none; }

.header {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #404040;
  color: #c9c9c9; }

.header ul li {
  display: inline-block;
  line-height: 40px;
  padding: 0 20px; }

.header .toolbar-left {
  float: left; }

.header .toolbar-right {
  float: right; }

.toolbar-right-items {
  float: left; }

.toolbar-right-icons {
  float: right; }

.header ul li .talk, .header ul li .phone, .header ul li .language {
  position: relative;
  width: 20px;
  height: 40px;
  background-size: contain; }

.header ul li .talk {
  background: #404040 url("/img/chat_icon.svg") no-repeat 50% 50%; }

.header ul li .phone {
  background: #404040 url("/img/phone_icon.svg") no-repeat 50% 50%; }

.header ul li .language {
  background: #404040 url("/img/flag-nz.svg") no-repeat 50% 50%; }

.bk-home {
  position: relative;
  width: 100%;
  height: calc(100vh - 40px);
  background: #fff url("/img/bk-home.jpg") no-repeat 50% 50%;
  background-size: cover; }

section#signin {
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 800px;
  height: auto;
  background-color: #404040; }

.product-feature-content {
  width: 100%;
  height: auto;
  margin: 0 auto; }

.product-feature-box {
  width: calc(99.9%/3);
  height: 100%;
  float: left;
  padding: 50px 40px;
  background-color: #404040;
  color: #c9c9c9; }

.product-feature-title {
  width: 100%;
  height: 50px; }

.product-feature-img {
  width: 100%;
  height: 140px;
  background: #fff url("/img/flag-nz.svg") no-repeat 50% 50%;
  background-size: cover; }

.product-feature-desc {
  margin-top: 20px; }

.signin-box {
  padding: 50px 40px;
  float: right;
  width: 66.6%;
  background-color: #fff; }

.signin-title {
  width: 100%;
  height: 50px;
  display: inline-block;
  background: #fff url(" /img/vend-tag-logo.svg") no-repeat 0% 0%; }

.signin-title h1 {
  padding-left: 130px;
  line-height: 50px;
  text-transform: capitalize;
  margin: 0;
  font-weight: 200; }

.signin-locator {
  height: 80px; }

.signin-locator h4, .signin-locator span {
  padding-top: 40px; }

.signin-locator h4 {
  float: left;
  margin: 0;
  vertical-align: middle; }

.signin-locator span {
  color: #d0d0d0;
  float: right; }

.signin-header {
  margin-top: 10px; }

.singin-action {
  width: 100%;
  float: left;
  margin-top: 10px; }

.singin-action a {
  float: left;
  line-height: 50px; }

.singin-action .primary-btn {
  height: 50px;
  border-radius: 3px; }

.welcome {
  background-color: #fcfcfc;
  border: 1px solid #eee;
  margin: 100px auto 0 auto;
  width: 100%;
  padding: 20px 20px 40px 20px;
  border-radius: 5px;
  max-width: 555px; }

.welcome h1 {
  text-align: center; }

/*==========  Desktop First Method  ==========*/
@media (min-width: 320px) {
  section#signin {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    float: none;
    transform: none; }

  .signin-box, .product-feature-box {
    float: none;
    width: 100%; }

  .product-feature-box {
    height: auto; }

  .singin-action .primary-btn {
    width: 100%; }

  .singin-action a {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 15px; } }
@media (min-width: 768px) {
  section#signin {
    position: absolute;
    left: 50%;
    width: 800px;
    transform: translateX(-50%);
    top: 100px; }

  .signin-box {
    float: right;
    width: 66.6%;
    background-color: #fff; }

  .singin-action .primary-btn {
    width: 200px;
    float: right; }

  .singin-action a {
    float: left;
    display: inline;
    text-align: left;
    width: auto;
    padding: 0; }

  .product-feature-box {
    width: calc(99.9%/3);
    height: 100%;
    float: left;
    padding: 50px 40px; } }
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .bk-home {
    display: none; } }

/*# sourceMappingURL=style.css.map */
